<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.amap.map3d.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="您的key" />
        <activity android:name="com.amap.map3d.demo.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".map.basemap.BasicMapActivity"
            android:label="@string/basic_map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".map.basemap.MapImpMethodActivity"
            android:label="@string/basic_map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".map.basemap.BaseMapFragmentActivity"
            android:label="@string/basic_map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".map.basemap.BaseTextureMapFragmentActivity"
            android:label="@string/basic_map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".map.basemap.BaseMapSupportFragmentActivity"
            android:label="@string/basic_map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".map.basemap.TextureMapViewActivity"
            android:label="@string/basic_map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".map.basemap.BaseTextureSupportMapFragmentActivity"
            android:label="@string/basic_map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".map.indoor.IndoorMapActivity"
            android:label="@string/indoormap_demo"
            android:screenOrientation="portrait" />
        <activity android:name=".map.layers.LayersActivity"
            android:label="@string/layers_demo"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".map.location.CustomLocationActivity"
            android:label="@string/location_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".map.location.LocationModeSourceActivity"
            android:label="@string/location_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".map.offlinemap.OfflineMapActivity"
            android:label="@string/offlinemap_demo"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".interact.gesture.GestureSettingsActivity"
            android:label="@string/gesture"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interact.mapcamera.CameraActivity"
            android:label="@string/animate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interact.mapcamera.LimitBoundsActivity"
            android:label="@string/limit_bounds"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interact.mapcamera.MapOptionActivity"
            android:label="@string/mapOption_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interact.mapcamera.MinMaxZoomLevelActivity"
            android:label="@string/set_min_max_zoomlevel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interact.mapcamera.ZoomActivity"
            android:label="@string/map_zoom"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interact.screenshot.ScreenShotActivity"
            android:label="@string/screenshot_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interact.widget.LogoSettingsActivity"
            android:label="@string/logo_position"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interact.widget.UiSettingsActivity"
            android:label="@string/uisettings_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".drawonmap.multipoint.MultiPointOverlayActivity"
            android:label="@string/multipoint_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".drawonmap.opengl.OpenglActivity"
            android:label="@string/opengl_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".drawonmap.polyline.PolylineActivity"
            android:label="@string/polyline_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".drawonmap.polygon.PolygonActivity"
            android:label="@string/polygon_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".drawonmap.polygon.CircleActivity"
            android:label="@string/circle_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".drawonmap.smoothmove.SmoothMoveActivity"
            android:label="@string/smooth_move_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".drawonmap.trace.TraceActivity"
            android:label="@string/trace_demo_simple"
            android:screenOrientation="portrait" />
        <activity
            android:name=".drawonmap.marker.CustomMarkerActivity"
            android:label="@string/custommarker_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".drawonmap.marker.InfoWindowActivity"
            android:label="@string/infowindow_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".drawonmap.heatmap.HeatMapActivity"
            android:label="@string/heatmap_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".drawonmap.custommap.CustomMapStyleActivity"
            android:label="@string/custom_mapstyle_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mapdatasearch.geodata.GeocoderActivity"
            android:label="@string/geocoder_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mapdatasearch.geodata.ReGeocoderActivity"
            android:label="@string/regeocoder_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mapdatasearch.busdata.BuslineActivity"
            android:label="@string/busline_demo"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mapdatasearch.busdata.BusStationActivity"
            android:label="@string/busstation_demo"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mapdatasearch.district.DistrictWithBoundaryActivity"
            android:label="@string/district_boundary_demo"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mapdatasearch.weatherinfo.WeatherSearchActivity"
            android:label="@string/weather_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mapdatasearch.clouddata.CloudActivity"
            android:label="@string/cloud_demo"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mapdatasearch.clouddata.CloudDetailActivity"
            android:label="@string/cloud_demo"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mapdatasearch.clouddata.PreviewPhotoActivity"
            android:label="@string/cloud_demo"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mapdatasearch.poidata.PoiKeywordSearchActivity"
            android:label="@string/poikeywordsearch_demo"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mapdatasearch.poidata.PoiAroundSearchActivity"
            android:label="@string/poiaroundsearch_demo"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mapdatasearch.poidata.PoiIDSearchActivity"
            android:label="@string/poiidsearch_demo"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mapdatasearch.poidata.RoutePOIActivity"
            android:label="@string/routepoisearch_demo"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mapdatasearch.poidata.InputtipsActivity"
            android:label="@string/inputtips_demo"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mapdatasearch.trafficinfo.TrafficInfoActivity"
            android:label="@string/traffic_demo"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".routesearch.RouteActivity"
            android:label="@string/route_drive"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".routesearch.driving.DriveRouteActivity"
            android:label="@string/route_drive"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".routesearch.driving.DriveRouteDetailActivity"
            android:label="@string/route_drive"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".routesearch.bus.BusRouteActivity"
            android:label="@string/route_drive"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".routesearch.bus.BusRouteDetailActivity"
            android:label="@string/route_bus"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name=".routesearch.ride.RideRouteActivity"
            android:label="@string/route_ride"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".routesearch.ride.RideRouteDetailActivity"
            android:label="@string/route_ride"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".routesearch.walk.WalkRouteActivity"
            android:label="@string/route_walk"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".routesearch.walk.WalkRouteDetailActivity"
            android:label="@string/route_walk"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maptool.coordinate.CoordConverActivity"
            android:label="@string/coordconvert_demo"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maptool.calculate.CalculateDistanceActivity"
            android:label="@string/calculate_demo"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />

    </application>

</manifest>
